
## <summary>policy for bitcoin5000</summary>


########################################
## <summary>
##	Transition to bitcoin5000.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`bitcoin5000_domtrans',`
	gen_require(`
		type bitcoin5000_t, bitcoin5000_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, bitcoin5000_exec_t, bitcoin5000_t)
')


########################################
## <summary>
##	Execute bitcoin5000 server in the bitcoin5000 domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoin5000_initrc_domtrans',`
	gen_require(`
		type bitcoin5000_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, bitcoin5000_initrc_exec_t)
')


########################################
## <summary>
##	Search bitcoin5000 lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoin5000_search_lib',`
	gen_require(`
		type bitcoin5000_var_lib_t;
	')

	allow $1 bitcoin5000_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read bitcoin5000 lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoin5000_read_lib_files',`
	gen_require(`
		type bitcoin5000_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, bitcoin5000_var_lib_t, bitcoin5000_var_lib_t)
')

########################################
## <summary>
##	Manage bitcoin5000 lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoin5000_manage_lib_files',`
	gen_require(`
		type bitcoin5000_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, bitcoin5000_var_lib_t, bitcoin5000_var_lib_t)
')

########################################
## <summary>
##	Manage bitcoin5000 lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoin5000_manage_lib_dirs',`
	gen_require(`
		type bitcoin5000_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, bitcoin5000_var_lib_t, bitcoin5000_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a bitcoin5000 environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`bitcoin5000_admin',`
	gen_require(`
		type bitcoin5000_t;
		type bitcoin5000_initrc_exec_t;
		type bitcoin5000_var_lib_t;
	')

	allow $1 bitcoin5000_t:process { ptrace signal_perms };
	ps_process_pattern($1, bitcoin5000_t)

	bitcoin5000_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 bitcoin5000_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, bitcoin5000_var_lib_t)

')

